[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas= "1.3.1"
salesforce-bulk = "2.2.0"
self = "*"
subprocess32 = "*"

[dev-packages]

[requires]
python_version = "3.6"
